* {
  box-sizing: border-box;
}
.section2 {
  height: 100vh;
  overflow: auto;
 
}

.display2 {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  align-items: stretch;
  column-gap: 2.5px;
  row-gap: 2px;
  margin: 0 5rem;
  padding: 1.5rem 1.5rem;
  justify-content: center;
}


